body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Oswald;
    font-size: 16px;
}

header {
    margin: 0 auto;
    background: #120c23;
}

header h1{
    font-family: Oswald;
    padding: 2%;
    font-size: calc(2vw + 14px);
    color: #ffffff;
    text-align: center;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: Oswald;
    background: #180f32;
}

#instrucciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(1vw + 10px);
    padding: 10px;
    color: #ffffff;
}

#instrucciones h1{
    text-decoration: underline;
    font-size: calc(1vw + 20px);
    text-align: center;
    padding-bottom: 10px;
}

#instrucciones li{
     list-style-type: circle;
}

.boxMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.boxMain textarea {
    padding: 20px;
    width: calc(100px + 20vw);
    height: calc(50px + 5vh);
    font-size: calc(2vw + 4px);
    border: 10px solid #8057f3;
    border-radius: 30px;
    background: hsl(257, 20%, 90%); 
    resize: none;
 }

.decencriptador textarea {
    font-size: calc(1.2vw + 4px);
    background: #ffffff;
    resize: none;
}


.zonaEncrip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(10px + 5vh) calc(10px + 5vw);
}

.botones{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}

.botones p{
    display: inline-flex;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
    border: 5px #d9d3ec solid;
    background: #a39dbb;
    font-size: calc(1.2vw + 6px);
    border-radius: 50px;
}

.boxMain .botones p:nth-child(2) {
    background: hsl(257, 20%, 90%);
    border: 5px hsl(252, 18%, 50%) solid;
}


.botones p:hover {
    border: 5px #a39dbb solid;
    background: #ffffff;
    opacity: 40%;
}

.boxMain .botones p:nth-child(2):hover {
    border: 5px #120c23 solid;
    background: #a39dbb;
    opacity: 40%;
}

@media (max-width: 700px) {
    .boxMain {
        display: flex;
        flex-direction: column;
    }
    .botones p {
        font-size: calc(1.2vw + 6px);
    }
}

footer {
    display: flex;
    align-items: end;
    background: #a39dbb;
}

footer p{
    margin-top: auto;
    text-align: center;
    font-size: 1.5em;
    font-family: Oswald;
    color: #27155a;
    padding: 2%;
}
